---
general:
  name: Katello
  workdir: /home/cloud-user/katello
  loglevel: info
  quiet: true

content_update:
  repo: https://github.com/Katello/katello

process:
  brakeman:
    args:
    diff: true

  commit_keyword_check:
    args: -k "password" -k "/tmp" -k "passwd"
    diff: true

report:
  send_mail: true
  from: jrusnack@redhat.com
  to: jrusnack@redhat.com
  server: smtp.corp.redhat.com
  port: 587
