---
general:
  name: Linux Kernel
  workdir: /home/cloud-user/linux
  loglevel: info
  quiet: true

content_update:
  repo: https://github.com/torvalds/linux.git
  
process:
  commit_keyword_check:
    args: -f /home/cloud-user/xenuti-scripts/linux-keywords.json
    diff: true
    sort_field: trigger

report:
  send_mail: true
  from: jrusnack@redhat.com
  to: jrusnack@redhat.com
  server: smtp.corp.redhat.com
  port: 587
