---
general:
  name: ManageIQ
  workdir: /home/cloud-user/manageiq
  loglevel: info
  quiet: true

content_update:
  repo: https://github.com/ManageIQ/manageiq

process:
  brakeman:
    args:
    relative_path: vmdb
    diff: true

  commit_keyword_check:
    args: >
      -k "/tmp" -k "secret" -k "password" -k "passwd" -k "token" -k "oauth"
      -k "salt" -k "openssl" -k "root" -k "VERIFY_NONE" -k "PermitRootLogin"
      -k "eval"
    diff: true

report:
  send_mail: true
  from: jrusnack@redhat.com
  to: jrusnack@redhat.com
  server: smtp.corp.redhat.com
  port: 587
