---
general:
  name: Openshift
  workdir: /home/cloud-user/openshift
  loglevel: info
  quiet: true

content_update:
  repo: https://github.com/openshift/origin-server.git

process:
  brakeman:
    args:
    diff: true
    relative_path: [admin-console, broker, console, controller, openshift-console]

  commit_keyword_check:
    args: -k "password" -k "/tmp" -k "passwd"
    diff: true

report:
  send_mail: true
  from: jrusnack@redhat.com
  to: jrusnack@redhat.com
  server: smtp.corp.redhat.com
  port: 587
