---
general:
  name: Openshift
  workdir: /home/cloud-user/openshift
  loglevel: info
  quiet: true

content_update:
  repo: https://github.com/openshift/origin-server.git

process:
  brakeman:
    args:
    diff: true
    relative_path: [admin-console, broker, console, controller, openshift-console]
    sort_field: confidence

  commit_keyword_check:
    args: -f /home/cloud-user/xenuti-scripts/rails-keywords.json
    diff: true
    sort_field: trigger

report:
  send_mail: true
  from: jrusnack@redhat.com
  to: jrusnack@redhat.com
  server: smtp.corp.redhat.com
  port: 587
